@using Blazor.Data
@using Blazor.Pages
@using Blazor.Data

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Assigment2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ViewAdults">
                <span class="oi oi-plus" aria-hidden="true"></span> Adults
            </NavLink>
        </li>
        <AuthorizeView Policy="AdminOnly">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="AddAdult">
                            <span class="oi oi-plus" aria-hidden="true"></span> Adult
                        </NavLink>
                    </li>
                </AuthorizeView>
                <AuthorizeView Policy="LoggedInOnly">
                    <li @onclick="PerformLogout" class="nav-item px-3">
                        <NavLink class="nav-link">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                        </NavLink>
                    </li>
                </AuthorizeView>
            </ul>
        </div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string username;
    private string password;
    private string errorMessage;
    
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    public async Task PerformLogout()
    {
        errorMessage = "";
        username = "";
        password = "";
        try
        {
            ((AAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ){}
    }

}